$deep-black-color: #171717;
$black-color: #333;
$white-color: #fff;
$grey-color: #75787b;
$green-color: #22D2A0;
$dark-green-color: #192824;
$light-green-color: #1FC11B;
$yellow-color: #FFD913;
$orange-color: #FF9C55;
$red-color: #FF5555;

$transition: 0.6s;
$transition-fast: 0.3s;
$box-shadow-offset: 65px;
